.login-container {
margin-top: 10rem;
background: rgb(255, 255, 255);
height: 25rem;
width: 22rem;   
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 0 10px 40px 0 rgba(141, 226, 245, 0.8);
border-radius: 10px;




}

.login-container input {

    
    margin: .5rem;
    padding: .25rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    width: 15rem;
    text-align: center;
    background-color: rgb(141, 226, 245, .4);
    
}

.login-container input:focus {
    outline: none;
    background: none;
    color: black;
}

.loginButton {


color: white;
    background: rgb(141, 226, 245, 0.5);
    border-radius: 5px;
    padding: .25rem;
    width: 25%;
    margin: .5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration-line: underline;
    transition: 0.3s;
}

.loginButton:hover {
    background: rgb(141, 226, 245, 0.8);
    
}

.loginButton:active {

    background: rgb(141, 226, 245, 0.5);
   

}

.login-input {
    color: white;
}

